.d4g {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
	background: linear-gradient(170deg, rgb(218, 240, 245) 40%, rgba(126,212,172,1) 70%);
	overflow: auto;
}

.d4g * {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    text-rendering: optimizeLegibility;
    color: #f6f6f7;
    user-select: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.d4g-window {
    background-color: #36393f;
    flex-direction: column;
    border-radius: 5px;
    pointer-events: auto;
    position: relative;
    z-index: 1000;
}
.d4g-window > * { margin: 0 20px }
.d4g-footer {
    margin: 0;
    padding: 20px;
    background-color: #2f3136;
    box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
    border-radius: 0 0 5px 5px;
    justify-content: flex-end;
}
.d4g h4,.d4g h4 * {
    text-transform: uppercase;
    letter-spacing: .3px;
    font-weight: 600;
    line-height: 20px;
}
.d4g h5,.d4g h5 * {
    color: #b9bbbe;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}
.d4g input {
    background: rgba(0,0,0,.1);
    border: solid 1px rgba(0,0,0,.3);
    border-radius: 3px;
    height: 38px;
    padding: 0 10px;
    outline: 0;
    transition: border .15s ease;
}
.d4g input:focus { border-color: #72dac7 }
.d4g button {
    min-height: 38px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    padding: 2px 16px;
    cursor: pointer;
}
.d4g button,.d4g button * {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}
.d4g-btn {
    border: 0;
    color: #fff;
    background-color: #72dac7;
    transition: background-color .17s ease;
}
.d4g-btn:hover { background-color: #67c4b3 }
.d4g-btn:disabled {
    background-color: #a6a6a7;
    cursor: default;
}
.d4g-glass {
	background: rgba(230, 230, 255, .2);
	width: 70vw;
	min-width: 600px;
	min-height: 400px;
	border-radius: 30px;
	flex-direction: column;
	margin: auto;
}
.d4g-glass > * { padding: 3vh 0 }
.d4g-glass form {
	width: 100%;
    justify-content: center;
}
.d4g-glass form > * { margin: 10px }

html, body {
    margin: 0;
    padding: 0;
}

#container {
    padding: 0;
    margin: 0;

    min-height: calc(100vh - 20vh);
    max-width: 100%;
    width: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 486px) {
}

@media screen and (max-width: 768px) {
}

#container section {
    padding: 0;
    margin: 0;

    margin-left: 10%;
    margin-right: 10%;
}

#overview {
    max-width: 100%;
}

#graphs {
    max-width: 100%;
}

#container section h1 {
    font-family: "Arial", sans-serif;
    font-size: 24pt
}

#container section h2 {
    font-family: "Arial", sans-serif;
    font-size: 18pt
}

#index {

}

header {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 20vh;
    background-color: rgba(0, 0, 0, 0);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("img/logo_big_dark.png");
    background-position: 20% 50%;
}

header .content {
    min-height: 100%;
    text-align: center;
    padding: 5vw;
    min-width: 100%;
}

footer {
    padding: 0;
    margin: 0;
}

.graph {
    max-width: 100%;
}

.graphTitle {

}

.graphVisual {
    max-width: 100%;
}

#index h2 {

}

#index h2 #btnRevealIndex {
    background-color: rgba(126,212,172,1);
    border: 2px solid rgba(106, 192, 152, 1);
}