html, body {
    margin: 0;
    padding: 0;

    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    overflow-x: hidden;
}

#container {
    padding: 0;
    margin: 0;

    min-height: calc(100vh - 20vh);
    max-width: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

#container section {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    #container section {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (min-width: 769px) {
    #container section {
        margin-left: 20%;
        margin-right: 20%;
    }
}

#overview {
    max-width: 100%;
}

#graphs {
    max-width: 100%;
}

#container section h1, h2, h3, h4, h5, h6 {
}

#index {

}

header {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 20vh;
    background-color: rgba(0, 0, 0, 0);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("img/logo_big_dark.png");
    background-position: 20% 50%;
}

header .content {
    min-height: 100%;
    text-align: center;
    padding: 5vw;
    min-width: 100%;
}

footer {
    padding: 0;
    margin: 0;
}

.graph {
    max-width: 100%;
}

.graphTitle {

}

.graphVisual {
    max-width: 100%;
}

#index h2 {

}

#index ul li a {
    text-decoration: none;
    color: #111;
    font-weight: bold;
}

#index ul li a:hover {
    text-decoration: underline;
    color: #111;
    font-weight: bolder;
}

#index ul li a:visited {
    text-decoration: none;
    color: #111;
    font-weight: bold;
}

#index ul li a:after {
    content: " ⟶";
}

#index h2 #btnRevealIndex {
    background-color: rgba(126,212,172,1);
    border: 2px solid rgba(106, 192, 152, 1);
}

.menu-btn {
    min-height: 38px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    padding: 2px 16px;
    cursor: pointer;
    border: 0;
    color: #fff;
    background-color: #72dac7;
    transition: background-color .17s ease;
}
.menu-btn,.menu-btn * {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}